@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 120%/1.5 san-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Ubuntu, sans-serif;
}

header {
  background-color: #18294f;
  color: #fff;
  margin: 0;
}

header h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

nav ul {
  text-decoration: none;
  list-style-type: none;
  color: #6c8fe0;
  text-align: left;
  font-size: 1.125rem;
}

nav a {
  text-decoration: none;
  list-style-type: none;
  color: #6c8fe0;
  white-space: nowrap;
  font-weight: normal;
  padding: .3em 0 .5em;
  line-height: 1.5;
}

nav a:hover {
  background-color: #6c8fe0;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  header {

  }
  nav a {
    float: left;
  }
}
